# Исключаем файлы Python bytecode
__pycache__

# Исключаем виртуальное окружение Python
venv/
env/

# Исключаем скомпилированные файлы Python
*.pyc

# Исключаем файлы настроек IDE
.idea/
.vscode/

# Исключаем логи
logs/

# Исключаем временные файлы
*.log
*.tmp
*.bak

# Исключаем файлы конфигурации и переменных окружения, если они хранятся в корне проекта
config.ini
.env
